#rm-charts-card .dropdown button {
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    line-height: initial !important;
    overflow: hidden;
    outline: none;
    color: inherit;
}

#rm-charts-card .dropdown-toggle {
    display: block;
    cursor: pointer;
}

#rm-charts-card .dropdown-hide {
    display: none;
    cursor: default;
}

#rm-charts-card .dropdown-item {
    cursor: pointer;
}

#rm-charts-card .dropdown-menu {
    transform: translate3d(0, 32px, 0);
}

#rm-charts-card .disabled,
#rm-charts-card .disabled button {
    color: #BBBBBB;
}

/*
@media (max-width: 575px) {
    #rm-charts-card .card {
        height: 450px;
    }
}

@media (min-width: 576px) {
    #rm-charts-card .card {
        height: 280px;
    }
}
*/

#rm-charts-card .donut-inner h5 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rm-charts-card .donut-inner span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    font-size: 13px;
}

#rm-charts-card .chart {
    position: relative;
    display: inline-block;
}

#rm-charts-card .dropdown-toggle::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#rm-charts-card a,
#rm-charts-card a:hover,
#rm-charts-card a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#rm-charts-card .form-check-input {
    margin: 3px;
}

#rm-charts-card .form-check-label {
    padding-top: 1px;
}

#rm-charts-card .trailing {
    display: inline-flex;
    flex-direction: row-reverse;
}

#rm-charts-card .date-range button {
    padding: .375rem .75rem !important;
}